@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* header */
.header{
  background-color: black;
  color: white
}

h1{
  padding: 10px;
  padding-left: 30px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  
}
.header-nav ul{
  display: flex;
  color:white
  
}

li{
  padding: 10px 20px;
}
.header-nav a {
  color: azure;
  text-decoration: none;
}

/* 機械では出来ない仕事を */

img{
  max-width: 100%;
  height: auto;
}

.img{
  position: relative;
}

.img .section-title{
   
   top: 50px;
   left: 40px;
   color:white;
   font-style: italic;
   font-weight: bold;
}

img{
  vertical-align: bottom;
}

.section-title,.table{
   position: absolute;
}

table,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  right: 0px;
  bottom: 0px;
  font-size: 0.7em;
}

.td1{
  width: 80%;
  color: black;
  background-color: white;
}

.td2{
  width: 20%;
  background-color: black;
  color: white;  
}

/* お客さまのために進化するー*/

#main2{
  position: relative;
}

.section-wrap{
  background-color: black;
  color: white; 
  height: 400px;
}


h{
  font-weight: bold;
  font-size: 1.5em;
  padding: 50px 0px;
 
}

p{
  padding: 30px 0px;
  font-size: 0.8em;
}

.left{
   position: absolute;
   padding-top: 150px; 
   padding-left: 300px;
   z-index: 2;

}

.right{
  position: absolute;
  width: 35%;
  top: 90px;
  right: 40px;
  z-index: 1;

}


.mission {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 0.8em;
}

.bottom{
  background-color:white;
  height: 150px;
}

/* service */

#main3{
  background-color :#E6E6E6;
  height: 800px;
}

.section-title3{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #1D2129;
}
  
.section-wrap3{
  position: relative;
}

.right2{
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.left2{
  width: 40%;
  height: 250px;
  background-color: white;
  position: absolute;
  top: 130px;
  left: 250px;
  border: 1px solid black;
  z-index: 2;
  padding: 20px 30px;
 
}

h2{
  font-size: 0.7em;
}

p{
  font-size: 0.5em;
}


.click{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-size: 0.5em;
  padding: 8px 15px;
  margin-right: 20px;

}
/* main4*/

#main4{
  background-color: #e6e6e6;
  height: 600px;

}
.bottom{
  width: 50%;
  
}

.left3{
  width: 40%;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  padding: 20px 30px;
 
}

h3{
  font-size: 0.7em;
}

p{
  font-size: 0.5em;
}

.click{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-size: 0.5em;
  padding: 8px 15px;
  margin-right: 20px;

}

/* main5 */

#main5{
  height: 600px;
  position: relative;
}
.flex-item1{
  background-image: url(../img/company.jpeg);
  width: 48%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  height: 180px;
}

.flex-item2{
  background-image: url(../img/recruit.jpg);
  width: 48%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  height: 180px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 150px;
  
}