@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* header */
.header{
  background-color: black;
  color: white
}

h1{
  padding: 10px;
  padding-left: 30px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
}

ul{
  list-style: none;
  
}
.header-nav ul{
  display: flex;
  color:white
  
}

li{
  padding: 10px 20px;
}
.header-nav a {
  color: azure;
  text-decoration: none;
}

/* 機械では出来ない仕事を */

#main1{
  position: relative;
}
img{
  max-width: 100%;
  height: auto;
}

.section-title{
  position: absolute;  
   top: 400px;
   left: 100px;
   color:white;
   font-style: italic;
   font-weight: bold;
   font-size: 3em;
}

img{
  vertical-align: bottom;
}

.table{
  position: absolute;  
  bottom: 0px;
}



.img table,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  right: 0px;
  bottom: 0px;
  font-size: 0.7em;
}

.td1{
  width: 80%;
  color: black;
  background-color: white;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 10px;
}

.td2{
  width: 20%;
  background-color: black;
  color: white;  
  vertical-align: middle;
  text-align: center;
}

/* お客さまのために進化するー*/

#main2{
  position: relative;
}

.section-wrap{
  background-color: black;
  color: white; 
  height: 400px;
}


h{
  font-weight: bold;
  font-size: 1.5em;
  padding: 50px 0px;
 
}

p{
  padding: 30px 0px;
  font-size: 0.8em;
}

.left{
   position: absolute;
   padding-top: 150px; 
   padding-left: 300px;
   z-index: 2;

}

.right{
  position: absolute;
  width: 40%;
  top: 130px;
  right: 40px;
  z-index: 1;

}


.mission {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 0.8em;
}

.bottom{
  background-color:white;
  height: 180px;
}

/* service */

#main3{
  background-color :#E6E6E6;
  height: 800px;
}

.section-title3{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #1D2129;
}
  
.section-wrap3{
  position: relative;
}

.right2{
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.left2{
  text-align: center;
  position: absolute;
  top: 130px;
  left: 200px;
  width: 800px;
  z-index: 2;
}
.left2-1{ 
  height: 210px;
  background-color: white;
  padding: 20px 30px;
  text-align: left;
  display: inline-block;
  width: 450px;
 
}

.left2 h2{
  font-size: 0.7em;
  padding-top: 50px;
  padding-left: 30px;

}

.left2-1 p{
  font-size: 0.5em;
  line-height: 12px;
  padding: 8px 0px;
  padding-left: 30px;
  color:#464646;
  
}

.left2-1 a{
  margin-top: 5px;
  margin-right: 55px;
  color: #464646;
}

.click{
  text-decoration: none;
  border: 1px solid #464646;
  color: black;
  font-size: 0.5em;
  padding: 8px 20px;
  float: right;
  
}
/* main4*/

#main4{
  background-color: #e6e6e6;
  height: 600px;
  position: relative;

}
.bottom{
  width: 50%;
  position: relative;
  
}

.left3{
  text-align: center;
  position: absolute;
  top: 110px;
  left: 450px;
  width: 800px;
  z-index: 2;
}
.left3-1{ 
  height: 210px;
  background-color: white;
  padding: 20px 30px;
  text-align: left;
  display: inline-block;
  width: 450px;
 
}

.left3 h2{
  font-size: 0.7em;
  padding-top: 50px;
  padding-left: 30px;

}

.left3-1 p{
  font-size: 0.5em;
  line-height: 12px;
  padding: 8px 0px;
  padding-left: 30px;
  color:#464646;
  
}

.left3-1 a{
  margin-top: 5px;
  margin-right: 55px;
  color: #464646;
}

.click{
  text-decoration: none;
  border: 1px solid #464646;
  color: black;
  font-size: 0.5em;
  padding: 8px 20px;
  float: right;
}

/* main5 */


.flex-item1{
  background-image: url(../img/company.jpeg);
  width: 48%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  height: 180px;
  
}
   
  

h4,h5{
  padding-top: 70px;
  font-size: 0.8em;
}

.flex-container h4{  
  line-height: 5px; 
}

.flex-container p{
  line-height: 5px; 
  font-size: 0.6em;
}

.flex-container h5{
  line-height: 5px;
}

.flex-item2{
  background-image: url(../img/recruit.jpg);
  width: 48%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  height: 180px;
  
}


.flex-container{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 
}
/*main5-2*/

.bottom-item3{
  color: white;
  margin-top:100px;
  
}

.bottom-item3 table{
  width: 1100px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

}

.bottom-item3 th{
  font-size: 2.5em;
  height: 100px;
  background-color:black;
  vertical-align: middle;
  
}

.bottom-item3 td{
  background-color: black;
  font-size: 1.5em;
  width: 90%;
  vertical-align: middle;
  padding-left: 400px;
  
}

/* contact */
#contact{
  background-image: url(../img/contact-bg.jpg);
  margin-top: 120px;
  color: white;
  width: 100%;
}

.contact-wrap {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 400px;
  margin-top: 100px;
}

.header{
  background-color: black;
  color: white
}

h1{
  padding: 10px;
  padding-left: 30px;
}

.contact-wrap a{
  border: 1px solid white;
  font-size: 0.5em;
  padding: 10px;
  color: white;
  text-decoration: none;
}


.contact1{
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.1px;

}

.contact1{
  padding-top: 1em;
}

.contact2{
  font-size: 2em;
}

/* footer1 */

#footer1{
  background-color: black;
  color: white
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
}

ul{
  list-style: none;
  
}
.footer-nav ul{
  display: flex;
  color:white
  
}

li{
  padding: 10px 20px;
}
.footer-nav a {
  color: azure;
  text-decoration: none;
}

/* footer2 */
#footer{
  font-size: 0.5em;
  text-align: center;
  padding-top: 5px;
  color: white;
  background-color: black;
}

