@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* header */
.header{
  background-color: black;
  color: white
}

h1{
  padding: 10px;
  padding-left: 30px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  
}
.header-nav ul{
  display: flex;
  color:white
  
}

li{
  padding: 10px 20px;
}
.header-nav a {
  color: azure;
  text-decoration: none;
}

/* 機械では出来ない仕事を */

img{
  max-width: 100%;
  height: auto;
}

.img{
  position: relative;
}

.img .section-title{
   
   top: 50px;
   left: 40px;
   color:white;
   font-style: italic;
   font-weight: bold;
}

.section-title,.table{
   position: absolute;
}

table,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  right: 0px;
  bottom: 0px;
}

.td1{
  width: 80%;
  color: black;
  background-color: white;
}

.td2{
  width: 20%;
  background-color: black;
  color: white;  
}

  
